body{
    background-color: #FFFFFF;
    font-family: 'Lobster', 'cursive';
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
  }
  @media (max-width: 576px) { 
    .navbar-logo { 
      display: none;
      margin-top:0px;
      margin-bottom: 100px;
      margin-left: 0px; /* Sesuaikan sesuai kebutuhan */ 
      padding: 0px; /* Sesuaikan sesuai kebutuhan */ 
    } 
  }
  @media (max-width: 576px) { 
    .navbar-profile { 
      margin-top:0px;
      margin-bottom:0px;
      margin-left: 270px; /* Sesuaikan sesuai kebutuhan */ 
      padding: 0px; /* Sesuaikan sesuai kebutuhan */ 
    } 
  }
  .navbar {
    background-color: #131111;
    position: relative; 
   top: 0; 
   left: 0;
   right: 0;
   z-index: 9999;
   box-shadow: #F0D400;
    border: #000000;
  
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-item {
    margin-right: 50px;
    background-color: #131111;
    margin-left: auto;
    
  }
  
  
  
  
  footer {
    position:relative;  
    background-color: #131111; 
    padding: 20px 0;
    color: #fff;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  footer .social-icons img {
    width: 30px;
    margin-right: 10px;
  }
  
  
  body {
    background-color: #FFFFFF;
  }
  
  footer .call-us,
  footer .follow-us {
  
    color: #fff; /
  }
  
  .search-form {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 25px;
    margin-left: auto;
  }
  
  .search-form input[type="search"] {
     
      background-color: #ffffff;
      padding: 5px 10px;
      
      margin-right: 10px;
    }
    
    .search-form button[type="submit"] {
       
        background-color: #FF6347;
        padding: 5px 10px;
        
        margin-right: 10px;
      }
  
      .dropdown-menu {
        background-color: #F0D400; 
      }
      
      .dropdown-menu a {
        color: #fff; 
      }
      
  
      .dropdown-menu a:hover {
        background-color: #F0D400; 
        color: #fff; 
      }
      
  
  .appstore{
      height: 50px;
      width: 100px;
  }
  .playstore{
          height: 50px;
          width: 100px;
  }
  
  .cart{
      height: 50px;
      width: 50px;
  }
  
  .navbar-logo {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100px;
    height: 100px;
    
  }
  
  
  
  .text-center{
    font-family: 'Lobster', cursive;
    color: #FF6347;
  }
  
  .crsl{
    width: 100%;
    height: 500px;
  }
  
  .gmbr{
    height: 200px;
    max-width: 100%;
  }
  
  .carousel-control-prev{
   color: #ff0000;
  }
  
  .carousel-control-next-icon{
    color: #ff0000;
  }
  
  .clickable-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .clickable-card:hover {
    transform: scale(1.05);
  }
  
  .trending-title {
    text-align: center;
    position: relative;
    display: inline-block;
    z-index: 2; 
    background-color: #FFFFFF;
    padding: 0 10px; 
  }
  
  
  
  .trending-title {
    position: relative;
    display: inline-block;
  }
  
  .divider-line {
    border-top: 2px solid #000;
    width: 100px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .card-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .kartu {
      width: 100%; 
    }
  }
  
  @media (max-width: 576px) {
    .navbar-logo {
      width: 80px; /* Sesuaikan sesuai kebutuhan */
      height: 80px; /* Sesuaikan sesuai kebutuhan */
    }
  }