.navbar {
  background-color: #131111;
  position: relative; 
 top: 0; 
 left: 0;
 right: 0;
 z-index: 9999;
 box-shadow: #F0D400;
  border: #000000;
  border-radius: 5px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-item {
  margin-right: 10px;
  background-color: #131111;
  
}


footer {
  position:relative;  
  background-color: #131111; 
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
}

footer .social-icons img {
  width: 30px;
  margin-right: 10px;
}


body {
  background-color: #FFFFFF;
}

footer .call-us,
footer .follow-us {

  color: #fff; /
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-form input[type="search"] {
   
    background-color: #ffffff;
    padding: 5px 10px;
    
    margin-right: 10px;
  }
  
  .search-form button[type="submit"] {
     
      background-color: #FF6347;
      padding: 5px 10px;
      
      margin-right: 10px;
    }

    .dropdown-menu {
      background-color: #F0D400; /* Warna dropdown menu menjadi merah tua (#FF6347) */
    }
    
    .dropdown-menu a {
      color: #fff; /* Teks dalam dropdown menu menjadi putih */
    }
    
    /* Mengubah warna latar belakang ketika menu dropdown dihover */
    .dropdown-menu a:hover {
      background-color: #F0D400; /* Warna ketika menu dropdown dihover menjadi merah gelap (#820000) */
      color: #fff; /* Teks tetap putih ketika menu dropdown dihover */
    }
    

.appstore{
    height: 50px;
    width: 100px;
}
.playstore{
        height: 50px;
        width: 100px;
}

.cart{
    height: 50px;
    width: 50px;
}

.navbar-logo {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100px;
  height: 100px;
}


.text-center{
  font-family: 'Lobster', cursive;
  color: #FF6347;
}

.crsl{
  width: 100%;
  height: 500px;
}

.gmbr{
  height: 200px;
  width: 200px;
}

.carousel-control-prev{
 color: #ff0000;
}

.carousel-control-next-icon{
  color: #ff0000;
}

.clickable-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.clickable-card:hover {
  transform: scale(1.05);
}

.trending-title {
  text-align: center;
  position: relative;
  display: inline-block;
  z-index: 2; /* Agar tulisan ada di atas garis */
  background-color: #FFFFFF; /* Atur warna latar belakang tulisan */
  padding: 0 10px; /* Berikan padding pada tulisan */
}



.trending-title {
  position: relative;
  display: inline-block;
}

.divider-line {
  border-top: 2px solid #000;
  width: 400px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.card-tittle{
  font-family: 'Montserrat', sans-serif;
}