.navbar {
    background-color: #131111;
    position: relative; 
   top: 0; 
   left: 0;
   right: 0;
   z-index: 9999;
   box-shadow: #F0D400;
    border: #000000;
    border-radius: 5px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
    background-color: #131111;
    
  }
  
  
  footer {
    position:relative;  
    background-color: #131111; 
    padding: 20px 0;
    color: #fff;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  footer .social-icons img {
    width: 30px;
    margin-right: 10px;
  }
  
  
  body {
    background-color: #FFFFFF;
  }
  
  footer .call-us,
  footer .follow-us {
  
    color: #fff; /
  }
  
  .search-form {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .search-form input[type="search"] {
     
      background-color: #ffffff;
      padding: 5px 10px;
      
      margin-right: 10px;
    }
    
    .search-form button[type="submit"] {
       
        background-color: #FF6347;
        padding: 5px 10px;
        
        margin-right: 10px;
      }
  
      .dropdown-menu {
        background-color: #F0D400; /* Warna dropdown menu menjadi merah tua (#FF6347) */
      }
      
      .dropdown-menu a {
        color: #fff; /* Teks dalam dropdown menu menjadi putih */
      }
      
      /* Mengubah warna latar belakang ketika menu dropdown dihover */
      .dropdown-menu a:hover {
        background-color: #F0D400; /* Warna ketika menu dropdown dihover menjadi merah gelap (#820000) */
        color: #fff; /* Teks tetap putih ketika menu dropdown dihover */
      }
      
  
  .appstore{
      height: 50px;
      width: 100px;
  }
  .playstore{
          height: 50px;
          width: 100px;
  }
  
  .cart{
      height: 50px;
      width: 50px;
  }
  
  .navbar-logo {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100px;
    height: 100px;
  }


  .card{
    height: max-content;
    width: 200px;
    
  }

  .btn-menu {
    border-color: #4F1D0C;
    background-color: #4F1D0C;
  }

  .btn-menu:hover {
    background-color: #4F1D0C;
    color: gold;
    border-color: #4F1D0C;
  }